# Config file
config.yaml

# PHPStorm project files
/.metadata
/.buildpath
/.idea
Thumbs.db

# Temporary files
*~
*.orig

# Eclipse project files
.project
.cache
.cache/*
.settings
.settings/*

# Mac OS X directory preferences
.DS_Store
